/* Using variables in css */
/* --main-color: black; */
/* color: var(--main-color); */
:root {
  --media-object-width: 125px;
  --button-blue: #3882F6;
}

* {
  font-family: calibri, arial;
  /* border: solid red 2px; */
}

/* Title Section */
.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #1F2937;
  color: #F9FAF8;
  margin: 0px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header a {
  text-decoration: none;
  color: #E5E7EB;
}

.title-section {
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  gap: 50px;
  padding: 50px 0px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
}

.title-section h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  line-height: 0.9;
  margin: 0px;
}

.title-section p {
  font-size: 18px;
  line-height: 0.9;
  color: #E5E7EB;
  margin: 0px;
  padding: 10px 0px;
}

.title-section button {
  background-color: #3882F6;
  color: #E5E7EB;
}
.title-section img {
  width: 375px;
  height: auto;
}

/* Info Section */
.info-section *{
  /* border: solid red 2px; */
}

.info-section {
  display: flex;
  flex-direction: column;
}

.info-section h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  align-self: center;
}

.media-object-row {
  display: flex;
  justify-content: space-between;
  margin: 0px 150px 100px 200px;
}

.media-object {
  width: var(--media-object-width);
  text-align: center;
}

.media-object img {
  width: var(--media-object-width);
  border-radius: 15px;
  border: solid #3882F6 3px;
}
/* Quote Section */
.quote-section {
  background-color: #E5E7EB;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-block {
  background-color: #E5E7EB;
  width: 700px;
  margin-left: auto;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-style: italic;
  font-size: 36px;
  color: #1F2937;
  font-weight: 200;
  line-height: 1;
  margin: 0;
}

.quote-author {
  align-self: flex-end;
  margin: 0;
  font-weight: bolder;
  font-size: 18px;
}

/* Call to action */
.action-section {
  /* background-color: var(--button-blue); */
  background-color: white;
  color: #E5E7EB;
  height: 250px;
  /* border: solid blue 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  background-color: var(--button-blue);
  /* border: solid green 2px; */
  padding: 40px 0px;
  padding-left: 50px;
  border-radius: 8px;
  width: 700px;
}

.call-to-action {
  background-color: var(--button-blue);
  /* border: solid cyan 2px; */
  display: flex;
  align-items: center;
  /* gap: 50px; */
}

.action-text {
  background-color: var(--button-blue);
  /* padding: 50px; */
  margin: 0 20px;
}
.action-text h3, .action-text p {
  /* border: solid yellow 2px; */
  margin: 0;
}

.call-to-action button {
  border: solid #E5E7EB 2px;
  border-radius: 4px;
  background-color: var(--button-blue);
  color: #E5E7EB;
  height: 30px;
  width: 100px;
  align-self: center;
  /* margin: 20px 50px; */
  margin-left: 75px;
}
/* Footer */
.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
